body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid
}
.hidden {
	display: none;
}



.header{
	background-image: url(img/header2.jpg);
	background-position:center;
	background-size: cover;
	position: relative;
	min-height:1000px;
	height: 100vh;
	background-color: #000;
}

.header::before {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(54,46,57,0.21);
	
}


/*MENU_start*/
.main_menu{
	width:100%;
	background-color: #000;/*rgba(137,155,146,0.45);*/
	overflow: hidden;
	z-index: 1000;
	position: absolute;
	}
	
.main_menu ul{
	padding: 0;
	margin: 0;
	margin-left:135px;

}
.main_menu li{
	list-style-type: none;
	float:left;

}
.main_menu a{
	display: block;
	text-decoration: none;
	font-family: "RobotoBold",sans-serif;
	font-size:23px;
	line-height:95px;
	padding:0 40px;
	cursor: pointer;
	color:#ffffff;
	z-index:999;
	position: relative;
	

}




.main_menu a:hover{
	
	color:#fff;
}

.main_menu a::before{
	content:"";
	position:absolute;
	left: 0;
	top:-40px;
	width: 100%;
	height: 200px;
	transform: rotate(20deg);
	background-color: #ef9c00;
	opacity: 0;
	z-index: -1;
	-webkit-transition: all ease-out 0.25s;
	-moz-transition:all ease-out 0.25s;
	-o-transition:all ease-out 0.25s;
	transition:all ease-out 0.25s;
	
}

.main_menu a:hover::before{
	opacity: 1;
}
/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  float:right;
  margin-right:35px;
  margin-top: 50px;
  /*margin: 30px auto 10px;*/
  position: relative;
  z-index: 1000;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/*MENU_end*/

.container_bg{
	/*text-align: center;*/
	z-index: 999;
	position: absolute;
	padding-bottom: 120px;
}

.tc-item{
	text-align: center;
	/*display: inline-block;
	width: 577px;
	height: 305px;
	margin-top: 180px;
	position: relative;*/
}


.tc-content{
	display: inline-block;
}
.tc-content h1 {
	display:block;
	margin-top:350px;
	margin-left:170px;
	font-family: "RobotoBold",sans-serif;
	font-size:70px;
	color: #ff5501;
	letter-spacing:.2em;
	position: relative;
}

.s-block h1::before{
	content: "";
	position: absolute;
	width: 770px;
	height: 117px;
	background-image: url(img/ramka1.svg);
	top:-115px;
     left:0;
}

.s-block h1::after{
	content: "";
	position: absolute;
	width: 770px;
	height: 117px;
	background-image: url(img/ramka1.svg);
	background-position: 0 117px;
	left: 0;
	bottom: -115px;


}

.tc-button{
	text-align: center;
	margin-top:250px;
	margin-left: 120px;

	position: absolute;
    z-index: 999;
}
.button a{
	display:block;
	text-decoration: none;
    width: 250px;
	height:110px;
	padding: 20px 30px;
	font-family:"RobotoBold",sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #ef9c00;
	background-color: transparent;
	border:12px solid #f643bd;
	cursor: pointer;
	-webkit-transition: all ease-in-out 0.25s;
	-moz-transition:all ease-in-out 0.25s;
	-o-transition:all ease-in-out 0.25s;
	transition:all ease-in-out 0.25s;
}

.button a:hover{
   background-color: #f643bd;
   border:12px solid #fff;
   color:#ef9c00;
}




/*.img-wrap img{
	width: 577px;
	height: 305px;
	position: absolute;
	z-index: 20;

	}*/





