/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.main_menu ul{
		padding: 0;
		margin: 0;
		margin-left:25%;
	}

	.main_menu a{
		display: block;
		text-decoration: none;
		font-family: "RobotoBold",sans-serif;
		font-size:23px;
		line-height:80px;
		padding:0 20px;
		cursor: pointer;
		color:#ffffff;
		z-index:999;
		position: relative;
	}

	.tc-content h1 {
		margin-top:430px;
	}

.img_wrap{
      	margin-left:30%;
      }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.tc-content h1{
		margin-top:320px;
	}

	.tc-button{
		margin-left: 250px;
	}
	.main_menu{
		display: none;
		float: right;
		max-width:270px;
		margin-right:0;
		margin-top: 5px;
		position: relative;	
		text-align: left;

	}
	.main_menu ul{
		margin: 0;
		padding: 0;
		margin-left:0;
	}


	.main_menu ul li{
		display: block;
		line-height: 0;
		padding: 0;
	}


	.main_menu ul li a {
		display: block;
		line-height: 95px;
		padding:0 25px;
		margin-left: -20px;

	}



	
	.main_menu li{
		float: none;
	}

	
	.main_menu a:hover{

		background-color:#ef9c00;
	}

	.main_menu a::before{
		display: none;

	}

	.main_menu a:hover::before{
		display: none;
	}

	.tc-content h1::before{
		width:465px;
		top: -45px;
		
	}

	.tc-content h1::after{
		width:465px;
		background-position: 465px 117px;
		right:0;
		bottom: -45px;
		z-index: -999;
	}


.tr_desc{
	margin-top:7%;
}

.tr_desc_work{
	margin-top: 7%;
}

.img_tr{
	margin: 7% auto;
}

	
	
 .img_wrap{
      	margin-left:33%;
      }






}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.tc-content h1::before {
		display: none;
	}
	.tc-content h1::after {
		display: none;
	}
     
     .img_wrap{
      	margin-left:35%;
      }

      .sec_2 h1{
      	margin-left: 0;

      }
	

}


	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}





/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
       

       .tc-content h1 {
		margin:350px auto;
	}

	.tc-button{
	margin:-50% 0 0 20%;
	position: absolute;
    z-index: 999;
}
      .img_wrap{
      	margin-left:27%;
      }

      

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.header{
	background-image: url(img/fitness/black.png);
	min-height: 300px;
}

.tc-content h1 {
	display:block;
	margin:40% auto;
	font-family: "RobotoBold",sans-serif;
	font-size:30px;
	color: #ff5501;
	letter-spacing:.2em;
	position: relative;
}

.tc-button{
	margin:-10% 0 0 7%;
	position: absolute;
    z-index: 999;
}

.bg_container{
	
	padding:67px 0 ;
}



.img_wrap{
      	margin-left:17%;
      }

      .sec_2 h1{
      	font-size: 20px;
      }



}
	


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}