*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.header{
background-image: url(../img/pic_2.jpg);
background-size: cover;
background-position: center;
min-height:768px;
height:100vh;
position: relative;

	}

.ramka{
	text-align: center;
}

.blok{
	position: absolute;
	display: block;
	cursor: pointer;
    bottom: 0;
    bottom: 29px;
    width:26%;
    margin-left:500px;
    width:345px;
    height:42px;
    
    }

   